#voiceCancel {
  margin-left: 20px;
  cursor: pointer;
}

.voiceDone {
  border-radius: 100px;
  background-color: black;
  width: 1vw;
  height: 1vw;
}

@keyframes animateBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.DoneAndTimer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  width: 85%;
  height: 4.5vh;
  border-radius: 20px;
  background: linear-gradient(to right, #5395e9, #3a7fc2);
  background-size: 200% 100%;
}

.animate {
  animation: animateBackground 60s linear forwards;
}

.DoneAndTimer img {
  margin-left: 10px;
  cursor: pointer;
}
#Timer {
  text-align: center;
  background-color: white;
  border-radius: 20px;
  width: 3vw;
  margin-right: 10px;
}

#Send {
  margin-left: auto;
  margin-right: auto;
  color: #5395e9;
  cursor: pointer;
  font-size: 15px;
}
