/* Home */
.Home_Container {
  display: flex;
  overflow-x: hidden;
}

.Home_Main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.Home_Chatting {
  height: 100%;
  max-height: 84vh;
  overflow-y: scroll;
}

.Home_Chatting_InfoFalse {
  width: 100%;
  transition: 0.5s ease;
}

.Home_Chatting_InfoTrue {
  width: 58vw;
  transition: 2s ease;
}



.Home_Chat_Info {
  background-color: white;
  position: fixed;
  right: -20vw;
}

.InfoTrue {
  right: 0;
  transition: 0.5s ease;
}

.InfoFalse {
  right: -20vw;
  transition: 0.5s ease;
}