.Info_Container {
	animation: fadein 0.5s;
	width: 20vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-left: 1px solid #d9d9d9;
}

.Info_Container::before {
	animation: fadeout 0.5s;
}

.Info_Title {
	font-size: 25px;
	margin-top: 15px;
	margin-left: 20px;
}

.Info_Main {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 10px 40px 34px 40px;
}

.Info_Group_IMG img {
	width: 120px;
	height: 120px;
	border-radius: 100%;
	margin-top: 35px;
}

.Info_GroupName {
	font-size: 20px;
	text-align: center;
}

.Info_Change_Group_IMG {
	display: flex;
	flex-direction: row;
	justify-items: center;
	justify-content: space-between;
	margin-top: 25px;
	font-size: 18px;
}

.Info_Change_Group_IMG button {
	border: none;
	background-color: #efefef;
	padding: 8px 10px 8px 10px;
	border-radius: 7px;
}

.Info_Change_Group_Name {
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-items: center;
	justify-content: space-between;
	margin-top: 20px;
	font-size: 18px;
}

.Info_Change_Group_Name button {
	border: none;
	background-color: #efefef;
	padding: 8px 10px 8px 10px;
	border-radius: 7px;
}

.Info_Change_Hover:hover {
	background-color: #ebebeb;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
		box-shadow 0.2s ease-in-out;
}

.Info_Change_Hover:not(:hover) {
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
		box-shadow 0.2s ease-in-out;
}

.Info_Add_Member {
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-items: center;
	justify-content: space-between;
	margin-top: 25px;
	font-size: 20px;
}

.Info_Add_Member button {
	border: none;
	color: #4193ef;
	background-color: transparent;
	font-size: 18px;
}

.Info_Member_Container {
	height: 29.5vh;
	overflow: scroll;
}
.Info_Member_Container::-webkit-scrollbar {
	display: none;
}

.Info_Member {
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin-top: 20px;
}

.Info_Member img {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin-right: 10px;
}

.Info_Member p {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	font-size: 15px;
	width: 11vw;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.Info_Divider {
	border-top: 1px solid #d9d9d9;
	text-align: left;
	padding: 15px 0px 15px 15px;
	cursor: pointer;
}

.Info_Divider p {
	color: red;
	font-size: 20px;
	font-family: 'Sans_Light';
}

.Info_Modal_Background_Open {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #E5E7EB;
	opacity: 0.5;
}

.Info_Modal_Background_Close {
	display: none;
}

@keyframes fadein {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes fadeout {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0);
	}
}
