.Chat_Container {
	width: 22vw;
	height: 100vh;
	background-color: #f3f5f7;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 20px;
	padding-bottom: 27px;
	overflow: hidden;
	box-sizing: border-box;
	cursor: pointer;
}

/* DirectChat to GroupChat */
.DirectChat_to_GroupChat {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 25px;
	margin-top: 25px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.DirectChat_to_GroupChat_Direct {
	margin-left: 45px;
}

#DirectChat_to_GroupChat_Direct_Border {
	border-bottom: 2px solid black;
}

.DirectChat_to_GroupChat_Group {
	margin-right: 45px;
}

#No_Scroll {
	overflow: hidden;
}

.ChtaHeader_SettingModal_Open {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #E5E7EB;
	opacity:0.5;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ChtaHeader_SettingModal_Close {
	display: none;
}