.Chat_Container {
	width: 22vw;
	height: 100vh;
	background-color: #f3f5f7;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 20px;
	padding-bottom: 27px;
	overflow: hidden;
	box-sizing: border-box;
	cursor: pointer;
}

/* Header */
.Chat_Header {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	justify-content: space-between;
}

.Chat_Header img {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	margin-right: 1vw;
}

.Chat_UserInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
}

.Chat_Header .UserName {
	font-family: 'Sans_Medium';
	color: #3a7fc2;
	font-size: 25px;
}

.Chat_Header .Abracadabra {
	color: #737373;
	font-size: 16px;
}

.Chat_Header .ChtaHeader_Icons {
	color: black;
	text-align: right;
}

/* DarkMode */
.ChatHeader_Switch_Button {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
	margin-bottom: 10px;
}

.ChatHeader_Switch_Button input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.ChatHeader_Switch_Button input:checked + .slider {
  background-color: #2196F3;
}

.ChatHeader_Switch_Button input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.ChatHeader_Switch_Button input:checked + .slider:before {
  -webkit-transform: translateX(90%);
  -ms-transform: translateX(90%);
  transform: translateX(90%);
}

/* Searchbar */
.Chat_Searchbar {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	align-items: center;
	width: 100%;
	height: 5vh;
	border-radius: 15px;
	background-color: #fff;
}

.Chat_Searchbar .Searchbar_Icon {
	margin-left: 4%;
}

.Chat_Searchbar input {
	width: 75%;
	height: 100%;
	color: #8d8d8d;
	margin-left: 3%;
	font-size: 18px;
	border: none;
}

.Chat_Searchbar input:focus {
	outline: none;
}

#Hidden {
	display: none;
}

.Chat_Header_SettingIcon {
	border-radius: 30%;
	padding: 5px;
}

.Chat_Header_SettingIcon:hover {
	background-color: #ebebeb;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
		box-shadow 0.2s ease-in-out;
}

.Chat_Header_SettingIcon:not(:hover) {
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
		box-shadow 0.2s ease-in-out;
}

/* DirectChat to GroupChat */
.DirectChat_to_GroupChat {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 25px;
	margin-top: 25px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.DirectChat_to_GroupChat_Direct {
	margin-left: 45px;
}

#DirectChat_to_GroupChat_Direct_Border {
	border-bottom: 2px solid black;
}

.DirectChat_to_GroupChat_Group {
	margin-right: 45px;
}

#No_Scroll {
	overflow: hidden;
}

.ChtaHeader_SettingModal_Open {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #E5E7EB;
	opacity:0.5;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ChtaHeader_SettingModal_Close {
	display: none;
}