.DirectChat_Container {
  width: 22vw;
  height: 100vh;
  background-color: #f3f5f7;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 27px;
  overflow: hidden;
  box-sizing: border-box;
}

/* Header */
.Chat_Header {
  display: flex;
  flex-direction: row;
}

.Chat_Header img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-right: 16px;
}

.Chat_UserInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Chat_Header .UserName {
  font-family: "Sans_Medium";
  color: #3a7fc2;
  font-size: 25px;
}

.Chat_Header .Abracadabra {
  color: #737373;
  font-size: 16px;
}

/* Searchbar */
.Chat_Searchbar {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
  width: 100%;
  height: 5vh;
  border-radius: 15px;
  background-color: #fff;
}

.Chat_Searchbar .Searchbar_Icon {
  margin-left: 4%;
}

.Chat_Searchbar input {
  width: 75%;
  height: 100%;
  color: #8d8d8d;
  margin-left: 3%;
  font-size: 18px;
  border: none;
}

.Chat_Searchbar input:focus {
  outline: none;
}

/* DirectChat to GroupChat */
.DirectChat_to_GroupChat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 25px;
  margin-top: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.DirectChat_to_GroupChat_Direct {
  margin-left: 45px;
}

#DirectChat_to_GroupChat_Direct_Border {
  border-bottom: 2px solid black;
}

.DirectChat_to_GroupChat_Group {
  margin-right: 45px;
}

/* FriendList */
.DirectChat_FriendList_Container {
  background-color: #fff;
  width: 100%;
  height: 10vh;
  margin-top: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.DirectChat_FriendList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.DirectChat_Scroll {
  overflow: scroll;
  height: 75vh;
}
.DirectChat_Scroll::-webkit-scrollbar {
  display: none;
}

.DirectChat_Left {
  display: flex;
}

.Avatar_Img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-left: 1vw;
  line-height: 50px;
  text-align: center;
  margin-top: 1%;
}

.FriendList_Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1vw;
  width: 9vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.FriendList_Info .Info_Name {
  font-size: 18px;
  font-family: "Sans_Medium";
  color: #3a7fc2;
}

.FriendList_Info .Info_LastMessage {
  font-size: 15px;
  color: #737373;
}

.DirectChat_Right {
  margin-right: 1vw;
}

.MessageState {
  display: flex;
  flex-direction: column;
}

.MessageState_Time {
  margin-bottom: 1vh;
}

.MessageState_Time_Icon {
  text-align: right;
}

.MessageState_Unread {
  text-align: center;
  border-radius: 100%;
  font-size: 14px;
  background-color: black;
  color: white;
  width: 20px;
  height: 20px;
  line-height: 20px;
  float: right;
}
