.Typing_Container {
	border-radius: 50px;
	height: 5vh;
	border: solid #d9d9d9 3px;
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

#StateTypeTrue {
	width: 56vw;
  transition: 0.5s ease;
}
#StateTypeFalse {
	width: 76vw;
  transition: 0.5s ease;
}

.Typing_Input {
	margin-left: 20px;
}

.Typing_Input input {
	border: none;
	font-size: 22px;
}

#StateInputTrue {
	width: 30vw;
}
#StateInputFalse {
	width: 55vw;
}

.Typing_Input input:focus {
	outline: none;
}

.Typing_Files {
	display: flex;
	align-items: center;
  margin-right: 2px;
}

.Typing_Files:last-child {
  margin-right: 8px;
}

.Typing_Icon {
	border-radius: 30%;
	padding: 5px;
}

.Typing_Icon:hover {
	background-color: #ebebeb;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
		box-shadow 0.2s ease-in-out;
}

.Typing_Icon:not(:hover) {
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
		box-shadow 0.2s ease-in-out;
}
