.Typing_Container {
  border-radius: 50px;
  height: 5vh;
  border: solid #d9d9d9 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

#StateTypeTrue {
  width: 56vw;
}
#StateTypeFalse {
  width: 76vw;
}

.Typing_Input {
  margin-left: 20px;
}

.Typing_Input input {
  border: none;
  font-size: 22px;
}

#StateInputTrue {
  width: 30vw;
}
#StateInputFalse {
  width: 65vw;
}

.Typing_Input input:focus {
  outline: none;
}

.Typing_Files {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.Typing_File {
  margin-right: 12px;
}
