.Typing_Container {
  border-radius: 50px;
  width: 76vw;
  height: 5vh;
  border: solid #d9d9d9 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.Typing_Input {
  margin-left: 20px;
}

.Typing_Input input {
  border: none;
  font-size: 22px;
  width: 55vw;
}

.Typing_Input input:focus {
  outline: none;
}

.Typing_Files {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.Typing_File {
    margin-right: 12px;
}
